.btn-orange{
    background-color: rgb(219, 160, 33) !important;
    color: aliceblue !important;
}

.offcanvas-dark{
    background-color: rgb(0, 0, 0) !important;
    color: aliceblue !important;
}


.offcanvas-dark .icon{
    color: rgb(255, 255, 255) !important;
}


.btn{
    font-size: 14px !important;
}
.btn svg{
    font-size: 20px !important;
}

.btn-teal{
    background-color:rgb(59, 131, 107) !important;
    color:white !important;
    border:none !important;
}
.btn-red{
    background-color:rgb(176, 37, 56) !important;
    color:white !important;
    border:none !important;
}
.btn-coral{
    background-color:rgb(81, 10, 20) !important;
    color:white !important;
    border:none !important;
}
.btn-coral span,.btn-coral a{
    color:white !important;
}

.btn-transparent{
    background-color:rgba(0, 0, 0, 0) !important;
    color:white !important;
}

.btn-green{
    background-color:rgba(255, 255, 255, 0.911) !important;
    color:rgb(99, 7, 70) !important;
    border:none !important;
}


.btn-dark{
    background-color:rgba(0, 0, 0, 0.911) !important;
    color:rgb(255, 255, 255) !important;
    border:none !important;
}