@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


body {
   font-family: 'Comfortaa';
  background: linear-gradient(to bottom, #ffffff, #e2e2e28f);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.bg-dark{
  color:  #fff !important;
   background: rgb(27, 27, 27); 
  background: linear-gradient(144deg, rgb(10, 10, 10) 3%, rgba(2, 2, 2, 0.663) 57%, rgba(0, 0, 0, 0.727) 80%);
}
.bg-light{
  color:  rgb(3, 3, 3) !important;
   background:#fff !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb617d;
}



.input-dark{
  border:1px solid rgba(24, 24, 24, 0.874) !important;
  background-color: rgba(39, 38, 38, 0.874) !important;
  color: aliceblue !important;
}



