@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


body {
   font-family: 'Comfortaa';
   background-color: #f4f4f4 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list-group-item{
  cursor: pointer;
}


.bg-dark{
  color:  #fff !important;
   background: rgb(27, 27, 27); 
  background: linear-gradient(144deg, rgb(10, 10, 10) 3%, rgba(2, 2, 2, 0.663) 57%, rgba(0, 0, 0, 0.727) 80%);
}
.bg-light{
  color:  rgb(3, 3, 3) !important;
   background:#fff !important;
}


.dark{
  color:  rgb(3, 3, 3) !important;
}

.light{
  color:  rgb(255, 255, 255) !important;
}
.red{
  color:red !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb617d;
}


.bg-silver{
  background-color: rgba(240, 240, 240, 0.956) !important;
}


.input-dark{
  border:1px solid rgba(24, 24, 24, 0.874) !important;
  background-color: rgba(39, 38, 38, 0.874) !important;
  color: aliceblue !important;
}





#sidebar-wrapper {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: auto;
  background-color: #eee;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
}

#page-content-wrapper {
  width: 100%;
  padding-left: 0;
  transition: all 0.3s ease-in-out;
}

#sidebar-wrapper.active {
  transform: translateX(0);
}

#page-content-wrapper.active {
  padding-left: 250px;
}



.offcanvas-header .btn-close{
  background-color:#888888ab !important;
  opacity: 1;
}



@media only screen and (max-width: 590px) {
  .message_a,.message_b{
      min-width: 100px !important;
      max-width: 350px !important;
  }
}